@use '../src/styles/typography';

.header {
  @include typography.headline(true, null, false);
  color: white;
  text-align: center;
}

.content {
  padding: 50px;
}

.tabs-container {
  background-color: #fff;
  padding: 10px;
}